.info {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  gap: 10px;
}
.info input {
  background-color: transparent;
  padding: 5px 0 0 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
.info button {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-image 0.5s ease;
}

.info button:hover {
  background-image: linear-gradient(to right, #2ae3f02a, #fd5fe32a);
}

@media screen and (max-width: 65rem) {
  .info {
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }
  .info input:nth-child(3),
  .info button {
    grid-column: 1/-1;
  }
  .info input,
  .info button {
    height: 40px;
  }
}
