.title {
  margin: auto;
  font-weight: bolder;
  font-size: 2rem;
}
.title p {
  margin: auto;
  width: max-content;
  color: transparent;
  background-image: linear-gradient(to right, #2ae4f0, #fd5fe3);
  -webkit-background-clip: text;
  background-clip: text;
}
