.inner {
  display: flex;
  flex-direction: column;
}
.motion {
  width: 250px;
  height: 250px;
  animation: shapeChange 5s infinite ease-out;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

@keyframes shapeChange {
  0% {
    border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
  }
  25% {
    border-radius: 50% 42% 54% 46% / 45% 42% 58% 55%;
  }
  50% {
    border-radius: 60% 54% 45% 55% / 60% 55% 46% 41%;
  }
  75% {
    border-radius: 50% 44% 55% 45% / 45% 54% 46% 47%;
  }
  100% {
    border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
  }
}

.motion img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.introduce {
  margin: auto;
  width: 70%;
  font-weight: 100;
}
.cardWrap {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
  max-height: max-content;
}
.card {
  height: 100%;
}
.copy {
  cursor: pointer;
}
@media screen and (max-width: 65rem) {
  .inner div {
    flex-direction: column;
    margin: 0;
  }
  .inner div div {
    width: 100%;
  }
  .motion {
    width: 150px;
    height: 150px;
  }
  .introduce {
    font-size: 0.8rem;
  }
  .cardWrap {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
    padding-top: 10px;
    display: flex;
  }
}
