.cardWrap {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.miniTitle {
  font-size: large;
  font-weight: bold;
  color: #92a2ea;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  line-height: 200%;
  text-align: center;
  justify-content: center;
  height: 100%;
  font-weight: 100;
}

@media screen and (max-width: 65rem) {
  .cardWrap {
    padding: 10px;
    font-size: 0.8rem;
  }
  .miniTitle {
    font-size: 0.8rem;
  }
}
