.nav {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.nav li:hover {
  cursor: pointer;
}
.nav li:nth-child(1) {
  font-size: x-large;
  font-weight: bold;
  width: 150px;
}
.navMenu {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin: auto 0;
}
.navMenu p {
  margin: 0 15px;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s, background-image 0.3s;
}
.navMenu p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, #2ae4f0, #fd5fe3);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.navMenu p:hover {
  color: transparent;
  background-image: linear-gradient(to right, #2ae4f0, #fd5fe3);
  -webkit-background-clip: text;
  background-clip: text;
}
.navMenu p:hover::after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navIcons {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: auto 0;
  width: 150px;
}
.navButton {
  display: none;
}

.sideBar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.sideBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: -1;
}
.sideBarWrap {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: solid 1px white;
}
.sideBarWrap li:nth-child(1) {
  font-size: large;
  font-weight: bold;
  width: 100px;
}
.sideBarWrap li:nth-child(2) {
  margin: 20px auto;
  text-align: center;
}
.sideBarWrap li:nth-child(2) p {
  padding: 10px 0;
}
.sideBarMenu {
  display: flex;
  flex-direction: column;
  margin: auto;
  display: none;
}

.sideBarIcons {
  display: flex;
  flex-direction: row;
  margin: 0 auto 20px auto;
  gap: 20px;
  display: none;
}
.sideBarButton {
  padding-left: 50px;
  margin: auto 0;
  display: none;
}

@media screen and (max-width: 65rem) {
  .navMenu,
  .navIcons {
    display: none;
  }
  .nav li:nth-child(1) {
    font-size: large;
  }

  .sideBarButton {
    display: block;
  }
  .sideBarMenu,
  .sideBarIcons {
    display: flex;
  }
}
