.nav {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav li:hover {
  cursor: pointer;
}

.nav li:nth-child(1) {
  font-size: x-large;
  font-weight: bold;
  width: 150px;
}

.desktopMenu {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin: auto 0;
}

.desktopMenu p {
  margin: 0 15px;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s, background-image 0.3s;
}

.desktopMenu p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, #2ae4f0, #fd5fe3);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.desktopMenu p:hover {
  color: transparent;
  background-image: linear-gradient(to right, #2ae4f0, #fd5fe3);
  -webkit-background-clip: text;
  background-clip: text;
}

.desktopMenu p:hover::after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.desktopIcons {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: auto 0;
  width: 150px;
}

.menuIcon {
  padding-left: 20px;
  margin: auto 0;
  display: none;
}
.menuImg {
  height: 24px;
}

.sideBar {
  right: 0;
  width: 100%;
  height: calc(100vh - 550px);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.sideBar::before {
  backdrop-filter: blur(10px);
  z-index: -1;
}

.sideBarMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sideBarMenu p {
  color: white;
  cursor: pointer;
}

.sideBarIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* 반응형 */
@media screen and (max-width: 65rem) {
  .desktopMenu {
    display: none;
  }

  .desktopIcons {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}
