.pfLayoutWrap {
  background-color: #393965;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 20px;
}

.pfImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.pfInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pfInfo p {
  font-weight: bold;
  color: #92a2ea;
  margin-top: 10px;
}
.pfInfo div {
  font-weight: 100;
}
.pfInfo div:nth-child(1) {
  font-weight: bold;
  font-size: large;
}
.techWrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.linkWrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.image {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
}
