.inner {
  display: flex;
  flex-direction: column;
}

.skillWrap {
  margin-top: 50px;
  width: 100%;
}
.skillWrap li {
  margin: 10px 0;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.imageWrapper {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
}
.imageWrapper img {
  transition: transform 0.3s ease;
}
.imageWrapper div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-small;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.imageWrapper div p {
  margin: auto;
}
.imageWrapper:hover img {
  transform: scale(1.5);
  filter: brightness(20%) grayscale(80%);
}
.imageWrapper:hover div {
  display: flex;
  transform: scale(1.5);
  font-size: small;
  z-index: 1;
  margin: auto;
}

@media screen and (max-width: 65rem) {
  .skill {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .imageContainer {
    gap: 5px;
    margin: 0;
  }
  .imageWrapper {
    width: 1.75rem;
    height: 1.75rem;
  }
  .imageWrapper div {
    display: none;
  }
  .imageWrapper:hover img {
    transform: none;
    filter: none;
  }
  .imageWrapper:hover div {
    display: none;
  }
}
