.slider {
  display: grid;
  grid-template-columns: 12.5fr 75fr 12.5fr;
  margin-top: 50px;
  align-items: center;
  gap: 30px;
  position: relative;
}
.btn {
  margin: auto;
}
.btn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.slideButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}
.slideButtons div {
  overflow: hidden;
  width: 80px;
  height: 80px;
  background-color: aqua;
}

@media screen and (max-width: 65rem) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .slideButtons div {
    width: 30px;
    width: 30px;
  }
  .btn {
    display: none;
  }
  .slideButtons {
    display: flex;
  }
}
