.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sitesWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin-top: 50px;
}

.siteWrap {
  margin: 10px;
  transition: transform 0.3s ease;
}
.siteWrap:hover {
  transform: scale(1.1);
}
.siteWrap p {
  margin-top: 20px;
  line-height: normal;
}

@media screen and (max-width: 65rem) {
  .siteWrap {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
}
