.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.siteList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 70%;
  margin-top: 45px;
}
.site {
  position: relative;
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 65rem) {
  .siteList {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
